<!-- Wappler include head-page="layouts/exemplo1" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appconnect="local" -->
<meta name="ac:route" content="/">
<header>
    <div class="container">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
            <div class="col-3 card1">
                <h1>Fancy display heading</h1>
            </div>
        </div>
    </div>
</header>